# openssl req -days {{ cert_validity }} -x509 -config {{ sx_lib_dir }}/openssl.cnf -new -keyout /etc/ssl/private/sxkey.pem -out /etc/ssl/certs/sxcert.pem

[ req ]
default_bits= {{ cert_key_size }}
distinguished_name  = req_distinguished_name
prompt  = no
encrypt_key = no
x509_extensions = v3_ca

[ req_distinguished_name ]
C  = {{ cert_country_code }}
L  = {{ cert_locality_name }}
O  = {{ cert_organization_name }}
CN = {{ sx_cluster_name }}

[ v3_ca ]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints = critical,CA:true
keyUsage=keyCertSign,cRLSign,digitalSignature,keyEncipherment
