SX_CFG_VERSION="3"
SX_CLUSTER_NAME="{{ sx_cluster_name }}"
SX_CLUSTER_UUID="{{ hostvars[first_node_name].sx_cluster_uuid.stdout }}"
SX_ADMIN_KEY="{{ hostvars[first_node_name].sx_admin_key.stdout }}"
SX_CLUSTER_KEY="{{ hostvars[first_node_name].sx_cluster_key.stdout }}"
SX_EXISTING_NODE_IP="{{ hostvars[first_node_name].sx_node_ip }}"
SX_PORT="{{ sx_port }}"
SX_NODE_IP="{{ sx_node_ip }}"
SX_NODE_SIZE="{{ sx_node_size }}"
SX_DATA_DIR="{{ sx_data_dir }}"
SX_RUN_DIR="{{ sx_run_dir }}"
SX_LIB_DIR="{{ sx_lib_dir }}"
SX_LOG_FILE="{{ sx_log_file }}"
SX_NODE_INTERNAL_IP="{{ sx_node_internal_ip|default('') }}"
SX_SERVER_USER="{{ sx_server_user }}"
SX_SERVER_GROUP="{{ sx_server_group }}"
SX_CHILDREN_NUM="{{ sx_children_num }}"
SX_RESERVED_CHILDREN_NUM="{{ sx_reserved_children_num }}"
SX_HTTP_PORT="{{ sx_http_port }}"
SX_HTTPS_PORT="{{ sx_https_port }}"
SX_USE_SSL="{% if sx_use_ssl %}yes{% else %}no{% endif %}"
SX_SSL_KEY_FILE="/etc/ssl/private/sxkey.pem"
SX_SSL_CERT_FILE="/etc/ssl/certs/sxcert.pem"
